<table style="width:100%">
    <tbody><tr>
        <td align="center" style="padding:0;">
            <table role="presentation" align="center" style="width:600px;">
                <tbody><tr>
                    <td>
                        <table role="presentation" style="width:94%;max-width:600px;border:none;border-spacing:0;text-align:left;font-family:Arial,sans-serif;font-size:16px;line-height:22px;color:#363636;">
                            <tbody><tr>
                                <td style="padding:40px 30px 30px 30px;text-align:center;font-size:24px;font-weight:bold;">
                                    <a href="#" style="text-decoration:none;">
                                        <!-- <img src="http://autoxdev.katdev.com:3000/img/logo-new.png" width="165" alt="Logo" style="width:80%;max-width:165px;height:auto;border:none;text-decoration:none;color:#ffffff;"> -->
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:35px 30px 11px 30px;font-size:0;background-color:#ffffff;border-bottom:1px solid #f0f0f5;border-color:rgba(201,201,207,.35);">

                                    <table role="presentation" width="100%">
                                        <tbody><tr>
                                            <td style="width:395px;padding-bottom:20px;" valign="top">
                                                <div class="col-lge" style="display:inline-block;width:100%;max-width:395px;vertical-align:top;padding-bottom:20px;font-family:Arial,sans-serif;font-size:16px;line-height:22px;color:#363636;">
                                                    <p style="margin-top:0;margin-bottom:12px;">Hi {{USERNAME}}</p>
                                                    <p style="margin-top:0;margin-bottom:18px;">Please click on the link below to reset your password.</p>
                                                    <p style="margin:0;"><a href="{{RESET_LINK}}" style="background: #ff140c; text-decoration: none; padding: 10px 25px; color: #ffffff; border-radius: 4px; display:inline-block; mso-padding-alt:0;text-underline-color:#de175b"><i style="letter-spacing: 25px;mso-font-width:-100%;mso-text-raise:20pt">&nbsp;</i><span style="mso-text-raise:10pt;font-weight:bold;">Reset Password</span><i style="letter-spacing: 25px;mso-font-width:-100%">&nbsp;</i></a></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:30px;text-align:center;font-size:12px;background-color:#070b11;;color:#cccccc;">
                                    <p style="margin:0;font-size:14px;line-height:20px;">® {{SITE_TITLE}} {{YEAR}}</p>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>